	<% if user_signed_in?  %>
		<div class="my-3 p-3 bg-white rounded box-shadow">
					<h4>Add comment</h4>
			<%= form_with(model: [@post, @post.comments.build], local: true) do |form| %>
				<div class="form-group row">
					 	<div class="col-sm-12">
							<%= form.text_area :body, class: "form-control" %>
						</div>
				</div>
			  <div class="actions">
			    <%= form.submit class: "btn btn-primary mb-2" %>
			  </div>
			<% end %>
		</div>
		<% else %>
				<div class="my-3 p-3 bg-faded box-shadow">
					<%= link_to "Войдите, чтобы оставить комментарий.", new_user_session_path, class: "text-muted" %>
				</div>
	<% end %>