.card
	.card-block
		p
			h4.card-title Инфо
			p
				| Id: #{@post.id}
				br
				| Name: #{@post.name}
				br
				| md5: #{@post.md5}
				br
		    | Date: #{@post.created_at} 
		    br
		    | Uploader: 
		    = link_to @post.user.username, "/posts?user=#{@post.user.username}"