				<div class="card">
					<div class="card-block">
<p>
	<h4 class="card-title">Инфо</h4>
	<p>
	    Id: <%= @post.id %><br>
	    Date: <%= @post.created_at %><br>
	    Uploader: <%= @post.user.username %>
	</p>
</p>
</div>
</div>