                <span class="thumbnail-placeholder" >
                  <div class="thumbnail-preview">
                    <%= link_to (image_tag post.image.thumb.url, class: "img-fluid"), post_path(post)%>
                  </div>
                </span>