
<div class="row">
  <div class="col-lg-2 col-md-2 col-sm-12 ">

    <div id="left_bar">

    <% if user_signed_in? %>
      <%= button_to "New post", new_post_path, class: "btn btn-dark", method: :get %>
    <% end %>

      <div class="form-group row">
        <div class="col-sm-10">
          <input type="email" class="form-control form-control-sm" id="colFormLabelSm" placeholder="type tags here">
          <button type="button" class="btn btn-primary btn-sm" id="search_button">Search</button>
        </div>
      </div>

         <%= render "tags/list.html.erb" %>

    </div>
  </div>

    <div class="col-lg-10 col-md-10 col-sm-12">
    
      <div class="row" id="posts">
        <%= render @posts %>
      </div>

      <%= render "pagination.html.erb" %>

  </div>
</div>