/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
*/
@import "bootstrap";

body {

}
html {
  font-size: 14px;
}

@include media-breakpoint-up(sm) {
  html {
    font-size: 14px;
  }
}

@include media-breakpoint-up(md) {
  html {
    font-size: 14px;
  }
}

@include media-breakpoint-up(lg) {
  html {
    font-size: 16px;
  }
}

img {
	vertical-align: middle;
}

a img:hover {
	filter: brightness(50%);
}

#post-image {

	/*margin-left: 35px; */
}
.paginator {
		a {
			color: #6c757d;
		}
		a:hover{
			color: #f8f9fa;
		}
}

#posts .thumbnail-preview {
	display: inline-block;
	word-wrap: break-word;
	margin: 0px 20px 20px 10px;
   border: 1px solid #f0f0f0;
   padding: 5px;
}
.card {
	margin-bottom: 10px;
}



#left_bar {
	display:block;
	//border-right: 2px solid #f0f0f0;
	ul {
		list-style-type:none;
		padding: 0;
	}
	.card {
	} 
}

/*
height:auto;


a,
a:focus,
a:hover {
  color: #fff;
}






html,
body {
  background-color: #333;
}

body {
  color: #fff;
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
}

img {
	margin: 5px;
}

a img:hover {
 transform: scale(1.1);
}



*/
