         		<li class="nav-item">
         			<%= link_to "Профиль", user_url(current_user), class: "nav-link" %>
         		</li>
         		<li class="nav-item">
         			<%= link_to "Изменить", edit_user_registration_path, class: "nav-link" %>
         		</li>
         		<li class="nav-item">
							<%= link_to "Выйти", destroy_user_session_path, method: :delete, class: "nav-link"  %>
         		</li>